/* Expander general */

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(2) > div > div:nth-child(4) > div > div > div > div.glideDataEditor.wzg2m5k
{
    background-color: #C8FFC8;
    border: 2px solid #FFA200;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
    scrolling: True;
    }
